<!-- <div class="navbar-wagon"> -->

  <!-- Logo -->
<!--   <a href="/" class="navbar-wagon-brand">
    <img src="images/logo.png" alt="logo">
  </a> -->

<!--   <div></div>
 -->
  <!-- Right Navigation -->
  <!-- <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="/concept.html" class="navbar-wagon-item navbar-wagon-link">CONCEPT</a>
    <a href="/nosservices.html" class="navbar-wagon-item navbar-wagon-link">NOS SERVICES</a>
    <a href="/contact.html" class="navbar-wagon-item navbar-wagon-link">CONTACT</a> -->

    <!-- Profile picture with dropdown list -->
<!--   </div>
 -->
  <!-- Dropdown appearing on mobile only -->
  <!-- <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/concept.html">CONCEPT</a></li>
        <li><a href="/nosservices.html">NOS SERVICES</a></li>
        <li><a href="/contact.html">CONTACT</a></li>
      </ul>
    </div>
  </div>
</div> -->

<div class="nav">
        <label class="blue" for="toggle">&#9776; </label>
        <input type="checkbox" id="toggle"/>
        <div class="menu">
            <a class="navbar-wagon-link" href="/concept.html">CONCEPT</a>
            <a class="navbar-wagon-link" href="/nosservices.html">NOS SERVICES</a>
            <a class="navbar-wagon-link" href="/contact.html">CONTACT</a>
            <a class="navbar-wagon-link" href="#"><span>PLATEAUX REPAS</span></a>
        </div>
    </div>
