<%= partial "layouts/navbar" %>
<div class="main-container">
  <div id="wrapper">
    <img class="banner" src="<%= image_path 'carriole.jpg' %>" style="">
    <div class="concept-content">
      <h1>CONTACTEZ-NOUS</h1>
      <h2>UNE QUESTION OU UN COMMENTAIRE ?</h2>
    </div>
  </div>
</div>


