.main-container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
}

#home {
  color: white;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  p {
    margin-top: 1.5em;
  }
  a {
    color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 16px;
  }
}

#wrapper {
  border-right: none;
  border-left: none;
  top: 0px;
  width: 100%;
  margin-top: -70px;
  object-fit: cover;
  position: relative;
}


#section {
  position: relative;
  height: calc(100vh);
  width: 100%;
  background-size: cover;
  background-position: center;

}

#background {
  // background-image: linear-gradient(0deg, rgba(250,250,250,0) 65%, rgba(1,1,1,0.5) 100%);
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: all 300ms ease-in-out;
}

#background:not(:hover) {
  filter: blur(10px);
}

#image {
  // background-image: linear-gradient(0deg, rgba(250,250,250,0) 65%, rgba(1,1,1,0.5) 100%);
  width: 100%;
  height: calc(100vh);
  object-fit: cover;
  background-position: center;
}


#banner-container-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
h1 {
  color: $blue;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 4px;
  font-weight: 300;
  margin: 0px 0px 50px 0px;
}
h2 {
  font-weight: 300;
  letter-spacing: 4px;
  color: $blue;
  font-size: 40px;
  text-align: center;
}
a {
  padding: 0px 0px 50px 0px;
}
}
@media only screen and (max-width: 1000px) {

  #banner-container-content {
    h1 {
      font-size: 40px;
      font-weight: 300;
      text-align: center;
    }
  }
  .logo-size-responsive{
    width: 250px;
  }

  .banner-75vh {
    display: none !important;
  }

  .banner-75vh-mobile {
    display: block !important;
    height: 75vh;
    color: white;
    text-align: center;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-size: cover;
    background-position: center;
  }
}

.concept-content {
  h1 {
  color: white;
  font-size: 48px !important;
  font-weight: 600;
  }

  h2 {
  color: white;
  font-size: 32px !important;
  font-weight: 600;
  }

}
.home-container {
  display: flex;
  flex-direction: column;
}

#home-container-nosservices {
  display: flex;
  flex-direction: column;
}

#home-container-concept {
  display: flex;
  flex-direction: column;
}

.home-sub-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-sub-container-image {
  object-fit: cover;
  background-position: center;
  height: 50vh;
  width: 50%;
  min-width: 500px;
  flex-grow: 1;
}

.home-sub-container-content {
  height: 50vh;
  width: 50%;
  min-width: 500px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  h1 {
    font-weight: 300;
    color: #85c6af;
  }
  p {
    font-family: Monserrat, sans-serif;
    padding: 0px 30px 0px 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16;
    color: $red;
    text-align: center;
  }
}

@media(max-width: 720px) {
  .home-sub-container-image {
  min-width: 100%;
  }

  .home-sub-container-content {
    height: 50vh;
    width: 50%;
    min-width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h1 {
      font-weight: 300;
      color: #85c6af;
      font-size: 32px;
    }
    p {
      font-family: Monserrat, sans-serif;
      padding: 0px 10px 0px 10px;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 16 !important;
      color: $red;
      text-align: center;
    }
  }
}

.home-banner-25vh {
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.home-banner-75vh {
  height: 75vh;
}

.banner-75vh {
  display: block;
  height: 75vh;
  color: white;
  text-align: center;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.banner-75vh-mobile {
  display: none;
}
#home-social-sticky {
position: fixed !important;
top: 40vh;
left: 1vw;
display: flex;
flex-direction: column;
z-index: 2000;
}

#icon-facebook {
  height: 50px;
  width: 50px;
  margin: 2px 0px 2px 0px;
}

#icon-phone {
  height: 50px;
  width: 50px;
  margin: 2px 0px 2px 0px;
  padding: 2px;
}

#icon-insta {
  height: 50px;
  width: 50px;
  margin: 2px 0px 2px 0px;
  padding: 2px;
}

#devis-btn {
  border: 1px solid $blue;
  border-radius: 1px;
  font-size: 24px;
  height: 85px;
  line-height: 85px;
  width: 300px;
  text-align: center;
  margin: 80px 0px 0px 0px;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  letter-spacing: 2px;
}

#devis-btn:hover {
  background:$blue;
  border: 1px solid $blue;
  color: #8c7a69;
}

#devis-btn-2 {
  border: 1px solid $red;
  border-radius: 1px;
  font-size: 24px;
  height: 85px;
  line-height: 85px;
  width: 300px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  letter-spacing:2px;
  color: $red;
}

#devis-btn-2:hover {
  border: 1px solid $blue;
  background: transparent;
  color: $blue;
  letter-spacing: 3px;
}

#btn-devis {
  background: transparent;
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}

// Concept

#container-concept {
  width: 100%;
  height: 100vh;
}

#grid-concept {
  display: grid;
  grid-template-rows: 33vh 34vh 33vh;
  grid-template-columns: 33% 34% 33%;
}

#image-concept {
  height: 100%;
  width: 100%;
  object-fit:cover;
  }

#image-concept-1 {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
}

#image-concept-2 {
  grid-row: 1 / span 1;
  grid-column: 2/ span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  color: #85c6af;
}

#image-concept-3 {
  grid-row: 1 / span 1;
  grid-column: 3/ span 1;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // padding-right: 10%;
  // padding-left: 10%;
  // color: #85c6af;
}

#image-concept-4 {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;
  h1 {
    color: $blue;
  }
}

#image-concept-5 {
  grid-row: 2 / span 2;
  grid-column: 3/ span 1;
}

#image-concept-6 {
  grid-row: 3 / span 1;
  grid-column: 1/ span 1;
}

#image-concept-7 {
  grid-row: 3 / span 1;
  grid-column: 2/ span 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 10%;
  padding-left: 10%;
  background-color: white;
  h1 {
    color: $blue;
  }
}

#image-concept-8 {
  grid-row: 2 / span 1;
  grid-column: 2/ span 1;
}

@media(max-width: 720px) {

  #container-concept {
    width: 100%;
    height: 100vh;
    p {
      font-size: 24px;
    }
  }

  #grid-concept {
    display: grid;
    grid-template-rows: 50vh;
    grid-template-columns: 100%;
  }

  #image-concept {
    height: 100%;
    width: 100%;
    object-fit:cover;
    }

  #image-concept-1 {
    grid-row: 2 / span 1;
    grid-column: 1/ span 1;
    height: 50vh;
  }

  #image-concept-2 {
    grid-row: 1 / span 1;
    grid-column: 1/ span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    color: #85c6af;
    height: 50vh;
  }

  #image-concept-3 {
    grid-row: 4 / span 1;
    grid-column: 1/ span 1;
    height: 50vh;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // padding-right: 10%;
    // padding-left: 10%;
    // color: #85c6af;
  }

  #image-concept-4 {
    grid-row: 3 / span 1;
    grid-column: 1/ span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    background-color: white;
    height: 50vh;
    h1 {
      color: $blue;
    }
  }

  #image-concept-5 {
    display: none;
  }

  #image-concept-6 {
    grid-row: 6 / span 1;
    grid-column: 1/ span 1;
    height: 50vh;
  }

  #image-concept-7 {
    grid-row: 5 / span 1;
    grid-column: 1/ span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 10%;
    padding-left: 10%;
    background-color: white;
    height: 50vh;
    h1 {
      color: $blue;
    }
  }

  #image-concept-8 {
    display: none;
  }
}

#container-concept {
  text-align: center;
  h1 {
    font-family: Monserrat, sans-serif;
    padding: 0px 0px 0px 0px;
    margin: 0% 0% 3% 0%;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 24px;
    color: #c1a972;
    text-align: center;
    text-align: justify;
    word-spacing: 5px;
  }
  p {
    font-weight: 300;
    font-size: 32px;
    line-height: 1.25;
    margin: 0px 0px 0px 0px;
    color: $blue;
  }
}

@media(max-width: 720px) {
  #container-concept {
    text-align: center;
    h1 {
      font-family: Monserrat, sans-serif;
      padding: 0px 0px 0px 0px;
      margin: 0% 0% 3% 0%;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 24px;
      color: #c1a972;
      text-align: center;
      text-align: justify;
      word-spacing: 5px;
    }
    p {
      font-weight: 300;
      font-size: 24px;
      line-height: 1.25;
      margin: 0px 0px 0px 0px;
      color: $blue;
    }
  }
}

// annimation

#container-annimation {
  width: 100%;
  height: 100vh;
  margin-top: -72px;
}

#grid-annimation {
  display: grid;
  grid-template-rows: 33vh 34vh 33vh;
  grid-template-columns: 33% 34% 33%;
}

#image-annimation {
  height: 100%;
  width: 100%;
}

#image-annimation-1 {
  grid-row: 1 / span 1;
  grid-column: 1/ span 1;
}

#image-annimation-2 {
  grid-row: 1 / span 1;
  grid-column: 2/ span 1;
}

#image-annimation-3 {
  grid-row: 1 / span 1;
  grid-column: 3/ span 1;
}

#image-annimation-4 {
  grid-row: 2 / span 1;
  grid-column: 1/ span 1;
}

#image-annimation-5 {
  grid-row: 2 / span 1;
  grid-column: 2/ span 1;
}

#image-annimation-6 {
  grid-row: 2 / span 1;
  grid-column: 3/ span 1;
}

#image-annimation-7 {
  grid-row: 3 / span 1;
  grid-column: 1/ span 1;
}

#image-annimation-8 {
  grid-row: 3 / span 1;
  grid-column: 2/ span 1;
}

#image-annimation-9 {
  grid-row: 3 / span 1;
  grid-column: 3/ span 1;
}

#container-annimation {
  text-align: center;
  h1 {
    font-weight: 300;
    color: #85c6af;
  }
  p {
    font-family: Monserrat, sans-serif;
    padding: 0px 30px 0px 30px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 16;
    color: #c1a972;
    text-align: center;
    text-align: justify;
    padding-top: 25px;
    word-spacing: 5px;
  }
}
